.ator1
{
    color: blue;
}

.ator2
{
    background: red;
    color: white;
}

.ator3
{
    border: solid pink;
}

.ator4
{
    color: green;
    border: solid black;
}

.ator5
{
    background: black;
    color: white;
}